<div class="row animated fadeIn">
  <!--Formulario-->
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Médico: {{ medico.nombre }}</h3>
      <br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
            <div class="form-group">
              <label>Nombre del médico</label>
              <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del médico" required>
            </div>
            <div class="form-group">
              <label>Hospital del médico</label>
              <!--Cada vez que seleccionemos un hospital dispárase un evento para poñer a súa foto no card de Imagen hospital-->
              <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                <option value="">Seleccione un hospital</option>
                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{ hospital.nombre }}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i
                class="fa fa-save"></i>Guardar</button>
            <a routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">IMAGEN HOSPITAL</h4>
      <img [src]="hospital.img | imagen:'hospital'" alt="Imagen del {{hospital.nombre}}" class="rounded img-fluid">
    </div>
  </div>
  <!--Únicamente mostrar a fotografía se xa existe un usuario (non mostrala cando se está creando un usuario).-->
  <div class="col-md-3" *ngIf="medico._id">
    <div class="card card-body">
      <h4 class="box-title m-b-0">IMAGEN MEDICO </h4>
      <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medico'" alt="Imagen del médico {{medico.nombre}}" class="rounded img-fluid pointer">
    </div>
  </div>
</div>